########
# System Files
########
.DS_Store

########
# Node Files
########
node_modules/

########
# Craft App
########
temp/
temp.zip
craft/app
craft/storage
craft/templates


########
# Compiled Files
########
public/

