########
# System Files
########
.DS_Store

########
# Node Files
########
node_modules/

########
# Craft App
########
temp/
temp.zip
craft/**/*
!craft/config/
!craft/plugins/

########
# Compiled Files
########
public/

