{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />

  {% if craft.config.devMode %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  {% else %}
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
  {% endif %}
</head>

<body>
  {% block content %}{% endblock %}

  {% if craft.config.devMode %}
    <script type="text/javascript" src="/js/bundle.js"></script>
  {% else %}
    <script type="text/javascript" src="/js/bundle.min.js"></script>
  {% endif %}



</body>
</html>
